
<h3 class="center">Top Anime</h3>
<div class="center">
    <b>Sort By: </b>
    <th><%= link_to "Title -", :sort => "title"%></th>
    <th><%= link_to "Release Year -", :sort => "release_year"%></th>
    <th><%= link_to "Episode Count -", :sort => "episode_count"%></th>
    <th><%= link_to "Genre", :sort => "genre"%></th>
</div>


<% @animes.each do |anime| %>
    <div>
        <div class="container">
            <div class="card small purple lighten-4">
                <div class="card-content black-text text-darken-4">
                    <span class="card-title"><%= anime.title %></li>
                    <p> -------------------------</p>
                    <p>Year of Release - <%= anime.release_year %></p>
                    <p>Episodes - <%= anime.episode_count %></p>
                    <p>Genre - <%= anime.genre %></p>
                    <div  class="card-action purple darken-3">
                        <%= link_to "View Reviews", anime_path(anime) %> 
                        <%= link_to "Write a Review", new_anime_review_path(anime) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
<%# binding.pry %>