<div class="center">
    <h3><%= @anime.title %></h3>
    <p>Genre: <%= @anime.genre %></p>
    <p>Release Year: <%= @anime.release_year %></p>
    <p>Episode Count: <%= @anime.episode_count %></p>
</div>

<% if @anime.user_id == current_user.id %>
    <div class="center">
        <th><%= link_to "Edit", edit_anime_path(@anime) %></th>
        <b> - </b>
        <th><%= link_to "Delete", anime_path(@anime), method: "delete" %></th>
    </div>
<% end %>
<div class="center">
    <br>
    <%= link_to "Write a Review", new_anime_review_path(@anime) %>
</div>

<h3 class="center">Reviews</h3>
<% @anime.reviews.each do |r| %>
    <div class="container">
        <div class="card small purple lighten-4">
            <div class="card-content black-text text-darken-4">
                <b><%= link_to r.user.username.upcase, user_path(r.user) %></b>
                <p> -------------------------</p>
                <p><%= r.comment %></p>

                <div class="card-action purple darken-3">
                    <%= link_to "Other Reviews By #{r.user.username}", user_path(r.user) %>
                    <% if r.user_id == current_user.id %>
                        <%= link_to "Edit Review".html_safe, edit_anime_review_path(@anime.id,r.id) %>                
                        <%= link_to "Delete Review", anime_review_path(@anime.id, r.id), method: :delete %>                        
                    <% end %>
                </div>
            </div>
        </div>                
    </div>          
<% end %>

<b><%= link_to "Reviewer Count #{@anime.users.length}", anime_users_path(@anime) %></b>


